.search-input {
    border-radius: 5px;
    border: 1px solid #aaa;
    margin: 10px 0;
    padding: 5px;
}

.subtitle {
    line-height: 0;
    font-size: 15px;
}

.error-block {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 18px;
    font-style: italic;
}